{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<h2 class="subtitle">
  Input Amount of Records you Wish to View
</h2>
<form method="POST" action="/profile">
    <div class="field">
        <div class="control">
            <input class="input is-large" type="hist" name="hist" placeholder="Amount of Records" autofocus="">
        </div>
    </div>
	<button class="button is-block is-info is-large is-fullwidth">Search</button>
</form>
<style>
 
table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 100%;
  border-spacing:0;
  border-collapse: collapse;
}

th {
  background-color: #4287f5;
  color: white;
}

th,
td {
  width: 50%;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}
      }
</style>
<table  cellspacing="0">
  <thead class="subtitle">
    <tr>
		<th>Heartrate</th>
        <th>Timestamp</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}